@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

// SPINNER
.spin-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100; // or another value that ensures the spinner is above other content
}

.lds-spinner {
  color: var(--vista-blue);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  // box-shadow: #02163694;
  // border: var(--ultra-drkvista-blue);
  // border-style: solid 50px;
  border-radius: 20%;
  background: var(--drkvista-blue);
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}


@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

// SPINNER


body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

/* SAAA STYLES HERE */

:root {

  --vista-blue: #81A8E6ff;
  --medvista-blue: #588fe9;
  --drkvista-blue: #0b46a7;
  --ultra-drkvista-blue: #021636;
  --persian-red: #C13A2Cff;
  --kobicha: #654222ff;
  --olive: #877C42ff;
  --black: #030203ff;
}

body {
  font-family: 'Manrope', sans-serif;
}

/* Font Styles */
.ManropTxt {
  font-family: 'Manrope', sans-serif;
}

/* Background Colors */
.bg-vista-blue {
  background-color: var(--medvista-blue);
}

.bg-medvista-blue {
  background-color: var(--vista-blue);
}

.bg-persian-red {
  background-color: var(--persian-red);
}

.bg-kobicha {
  background-color: var(--kobicha);
}

.bg-olive {
  background-color: var(--olive);
}

.bg-black {
  background-color: var(--black);
}

/* Text Colors */
.text-vista-blue {
  color: var(--vista-blue);
}

.text-ultra-drkvista-blue {
  color: var(--ultra-drkvista-blue) !important;
}

.text-persian-red {
  color: var(--persian-red);
}

.text-kobicha {
  color: var(--kobicha);
}

.text-olive {
  color: var(--olive);
}

.text-black {
  color: var(--black);
}

/* Border Colors */
.border-vista-blue {
  border-color: var(--vista-blue) !important;
}

.border-ultra-drkvista-blue {
  border-color: var(--ultra-drkvista-blue) !important;
}

.border-medvista-blue {
  border-color: var(--medvista-blue) !important;
}

.border-drkvista-blue {
  border-color: var(--drkvista-blue) !important;
}

.border-persian-red {
  border-color: var(--persian-red);
}

.border-kobicha {
  border-color: var(--kobicha);
}

.border-olive {
  border-color: var(--olive);
}

.border-black {
  border-color: var(--black);
}


/* Gradient Classes */
.blue-gradient-top {
  background-image: linear-gradient(0deg, var(--medvista-blue), rgb(195, 209, 231));
}

.gradient-right {
  background-image: linear-gradient(90deg, var(--vista-blue), var(--persian-red), var(--kobicha), var(--olive), var(--black));
}

.gradient-bottom {
  background-image: linear-gradient(180deg, var(--vista-blue), var(--persian-red), var(--kobicha), var(--olive), var(--black));
}

.gradient-left {
  background-image: linear-gradient(270deg, var(--vista-blue), var(--persian-red), var(--kobicha), var(--olive), var(--black));
}

.gradient-top-right {
  background-image: linear-gradient(45deg, var(--vista-blue), var(--persian-red), var(--kobicha), var(--olive), var(--black));
}

.gradient-bottom-right {
  background-image: linear-gradient(135deg, var(--vista-blue), var(--persian-red), var(--kobicha), var(--olive), var(--black));
}

.gradient-top-left {
  background-image: linear-gradient(225deg, var(--vista-blue), var(--persian-red), var(--kobicha), var(--olive), var(--black));
}

.gradient-bottom-left {
  background-image: linear-gradient(315deg, var(--vista-blue), var(--persian-red), var(--kobicha), var(--olive), var(--black));
}

.gradient-radial {
  background-image: radial-gradient(var(--vista-blue), var(--persian-red), var(--kobicha), var(--olive), var(--black));
}